/* Generico */
body {
    margin: 0;
    
}

/* Header + Titolo */

header {
    background-color: rgba(37, 109, 123, 1);
    height: 300px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-size: contain;
    position: relative;
}

#head {
    color: white;
    font-size: 80px;
    position: absolute;
    bottom: 0px;
    left: 5px;
}

/* Sottotitoli */

h1 {
    font-size: 120px;
    margin: 5px;
}

#fonte {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

#blue {
    color: rgb(47, 47, 243);
}

#data {
    font-size: 30px;
}

/* Prima sequenza di foto + Descrizione */

.pictures {
    margin: 0;
}

.description {
    font-size: 20px;
}

.tim1{
    height: 1185px;
    width: 48%;
}

.tim2{
    width: 50%;
}

/* Testo Centrale + Lista non ordinata */

.text {
    font-size: 40px;
}

.yellow {
    background-color: yellow;
}

ul{
    font-size: 30px;
    margin-left: 0px;
}

/* Tabella */

table, th, td {
    font-size: 40px;;
    text-align: left;
    border-collapse: collapse;
}

thead {
    color: white;
    background-color: rgba(0, 127, 255, 0.5);
    margin: 0px;
}

.ultima-colonna {
    width: 50%;
}

.colonne-mezzo {
    background-color: rgba(163, 231, 214, 0.5);
}

/* Parte Finale */

#endpage {
    font-size: 60px;
    color: rgba(128, 128, 128, 1)
}

.lastph2 {
    margin-top: 16px;
}

.lastph1 .lastph2 {
    position: relative;
}

.lastword {
  font-size: 35px;
  color: rgba(255, 255, 255, 1);  
  position: absolute;
  margin-top: 15px;
  font-weight: 900;
}